@charset "UTF-8";

/*
 Typical Device Breakpoints
 ---------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to bottom, #5BA6A6, #F8C76D, #8F745B);
    }

    section#login {
        width: 80vw;
        height: 310px;
    }

    #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #form {
        float: right;
        width: 70%;
    }

    p {
        font-size: 1em;
        margin-bottom: 14px;
    }

    form > div.campo {
        margin-bottom: 10px;
    }

    input[type=submit] {
        margin-top: 12px;
    }

    form > a.botao {
        margin-top: 10px;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to bottom, #5BA6A6, #F8C76D, #8F745B);
    }

    section#login {
        width: 950px;
        height: 340px;
    }

    #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #form {
        float: left;
        width: 50%;
    }

    h1 {
        font-size: 2em;
    }

    p {
    font-size: 1em;
    margin-bottom: 14px;
    }

    form > div.campo {
        margin-bottom: 10px;
    }

    input[type=submit] {
        margin-top: 12px;
    }

    form > a.botao {
        margin-top: 10px;
    }
}