@charset "UTF-8";

/* typical device break points
Pequenas Telas: ate 600px
celular: - 600-768
tablet: - 769-992
desktop: - 993-1200
Grandes Telas: acima de 1200
*/

@media screen and (min-width: 769px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to bottom, #5BA6A6, #F8C76D, #8F745B);
    }
    #login {
        width: 80vw;
        height: 320px;
    }
    #login > div#imagem {
        width: 35%;
        height: 100%;
        float: left;
    }
    #login > div#formulario {
        float: right;
        width: 65%;
    }
        #formulario > p {
    font-size: 1em;
    margin: 10px 0px;
}
    #formulario > h1 {
        font-size: 1.2em;
}
    
}

@media screen and (min-width: 993px) {
    body {
        background-image: linear-gradient(to bottom, #5BA6A6, #F8C76D, #8F745B);
    }
    #login {
        width: 950px;
        height: 440px;
    }
    #login > div#imagem {
        float: left;
        width: 45%;
        height: 100%;
    }
    #login > div#formulario {
        float: right;
        width: 55%;
    }
    #formulario > p {
    font-size: 1.0em;
    margin: 10px 0px;
}
    #formulario > h1 {
        font-size: 1.4;
}
}